 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My First Angular Application!</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
body { padding-top:50px; }
</style>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="app.js"></script>

</head>
	<body class="container" ng-app="firstApp" ng-controller="mainController as main">
		<button ng-click="cookieClick(1)">Click Me!</button>
		<br>
		Cookies: {{ cookies }}
		<br>
		<button ng-click="buyCursor()">Buy Cursor</button>
		<br>
		Cursors: {{ cursors }}
		<br>
		Cursor Cost: {{ cursorCost }}
	</body>
</html>
